include ARCHITECTURE.md
include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include NOTICE
include README.md
include SECURITY.md
recursive-include tests *.json *.py
recursive-include tools *.md *.py
